.choice-box{
	-fx-background-color: #2F3136; /* GRAY */
	-fx-text-fill: white;
}

.choice-box .context-menu{
	-fx-background-color: #2F3136; /* GRAY */
}

.choice-box .menu-item:focused{
	-fx-background-color: #19272A; /* DARKGRAY */
}

.choice-box .arrow {
    -fx-background-color: white;
}

.choice-box .label{
	-fx-text-fill: white;
}